.header {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    padding: 92px 50px 0 50px;
    margin-bottom: 92px;
    
}

.paragraph-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.logo {
    display: block;
    width: 136px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 31px;
    list-style: circle;
    
}

.nav-item__active {
    list-style: none;
}

.nav-item__active .nav-link {
    text-decoration: none;
}

.nav-link {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.contacts {
    display: flex;
    flex-direction: column;
    margin-left: auto;   
}


.contacts-item {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

.cover-main {
    margin-bottom: 133px;
    position: relative;
}


.cover {
    
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 165px 50px 50px 50px;
    position: relative;
    z-index: 1;
}

.cover-title {
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    letter-spacing: 30px;
    text-transform: uppercase;
}

.letter-spacing {
    letter-spacing: 60px;
}

.letter-spacing__absent {
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: initial;
    text-transform: uppercase;
}

.cover-title__detail {
    display: block;
}

.cover-title__detail-adjust {
    padding-top: 14px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}



.cover-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    position: relative;
}

.cover-info__title {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.button {
    padding: 12px 32px;
    font-family: Raleway, sans-serif;
    text-align: center;
    text-decoration: none;
    display: block;
    background: transparent;
    color: #FFF;
    border: 1px solid currentColor;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.lots {
    padding: 179px 24px 184px 24px;
}

.lots-card {
    position: relative;
    z-index: 1;
}

.lots-title {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 40px
}

.lots-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    margin: 27px 0 30px 0;
    
}

.lots-object {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    max-width: 334px;
    min-height: 563px;
    height: 100%;
    padding: 48px 40px;
}

.lot-image__director {
    background-image: url(../images/card-lot-01.jpg);
}

.lot-image__writer {
    background-image: url(../images/card-lot-02.jpg);
}

.lot-image__artist {
    background-image: url(../images/card-lot-03.jpg);
}

.lots-object__title {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
    position: relative;   
}

.lots-link {
    text-decoration: none;
}

.lots-object__text {
    color: #FFF;
    line-height: 120%; /* 24px */
    position: relative; 
}

.lots-learn__more {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 40px;
    
}

.about {
    margin-bottom: 182px;
    padding: 0px 24px;
}

.about-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 72px;
    padding-left: 47px;
}

.about-logo {
    display: flex;
    justify-content: center;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background-color: #000;
}

.about-logo__image {
    display: block;
    width: 145px;
}

.about-title {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.about-text__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.about-text {
    color: #000;
    line-height: 24px; /* 120% */
    max-width: 693px;
    margin-left: auto;
}

.paragraph-m {
    margin-bottom: 26px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px 91px 50px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0;
    text-align: center;
}

.footer-social__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.footer__social-link {
    display: block;
    width: 48px;
}
